html {
    background-color: #242334;
    color: fff;
}
#SplashScreen {
    display:  flex;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 40%;
    width: 100%;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url("/Gradient.jpg");
    color:#ddd;
}

#SplashScreen h1 {
    font-size: 30pt;
    vertical-align: baseline;
    flex: 2;
}
#SplashScreen img {
    flex: 1;
}
body {
    z-index: 1;
    padding: 0;
    margin: 0;
}
#nav span {
    flex:1;
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    align-content: center;
    font-weight: bold;
    background: transparent;
    color: #ddd;
}
#nav #Space {
    flex: 2;
}
#nav {
    height: 8%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    background: linear-gradient(rgb(13, 15, 18) 0px, rgba(13, 15, 18, 0));
    position: sticky;
    backdrop-filter: blur(35px);
    top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}